body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width:1200px){
  .container{
   max-width:950px; 
  }
}

.questioncard {
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom:30%;
}

.questiontitle {
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding-top:25%;
}

.buttoncontainer{
  display: flex;
  flex-direction: column;
}

.buttondiv{
  padding-bottom: 1rem;
}

.resulttab {
  padding-top:10%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}

.bottombar {
  position: fixed;
  bottom: 0;
  width:70%;
  padding-right:0 !important;
}
/* 
.bottombar .progress  .progress-bar div::before {
  content: 'Size',

} */

.progress {
  height:1.5rem !important;
}

.resultbarlabel{
  display:flex;
  justify-content: space-between;
} 